# Ignoriere den gesamten Ordner "geheim"
/__pycache__
/docsify
/scripts
/sidebar
/gemini
/artikel/medien
/artikel.bak
/site/medien
# Ignoriere alle .log Dateien
*.py
*.yml

# Ignoriere eine spezifische Datei
docsify.html
